/cmake-build-debug/.cmake/api/v1/reply/cache-v2-13d85f7f0599990a5439.json
testVideo/*
.vscode/*
obj/*
.DS_Store
*.xml
cmake-build-debug/rm2023_reconsitution
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/video_cap.cpp.o
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/SolvePnP.cpp.o
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/rgb.cpp.o
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/main.cpp.o
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/kalman.cpp.o
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/find_armor_factory.cpp.o
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/armor_tracker.cpp.o
cmake-build-debug/CMakeFiles/rm2023_reconsitution.dir/src/armor_detector.cpp.o
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7a74340b98d914420f22.json
cmake-build-debug/.cmake/api/v1/reply/target-rm2023_reconsitution-Debug-db50b8d5f8dd4bb2dd3f.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-11-05T12-31-12-0000.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b9cdabd577403d38e02d.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-8c3b6402e39ed06ba278.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-c1a3a9820eca9b6e58e0.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/rm2023-reconsitution.iml
.idea/.name
TODO.md
CMakeLists.txt